.profile__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  grid-column-start: span 2;
  margin-top: 6px;
  margin-right: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-right: auto;
    max-width: 100%;
  }
}
