.profile__add-button {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  min-width: 97%;
  border: 2px solid #fff;
  border-radius: 2px;
  min-height: 50px;
  margin-top: 33px;
  cursor: pointer;
  background-image: url(../../../images/logo/Vector+.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .profile__add-button {
    max-width: 150px;
    min-width: 150px;
    margin: 0;
    margin-left: auto;
    background-size: 15%;
  }
}
