.popup__close {
  background: url(../../../images/logo/Close.svg) 0 0 no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
